services:

  db:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    ports:
      - "3306:3306" # pitäneekö tämäkin muuttaa muotoon 127.0.0.1:3306 joka olisi turvallisempi
    volumes:
      - db_data:/var/lib/mysql
      - ./db/init:/docker-entrypoint-initdb.d # Valkamakatu 11 kanta

  api:
    build: ./api
    restart: unless-stopped
    depends_on:
      - db
    environment:
      DB_HOST: ${DB_HOST}
      DB_USER: ${DB_USER}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_NAME: ${DB_NAME}
    ports:
      - "0.0.0.0:5000:5000"  # "127.0.0.1:5000:5000" Palautettava takaisin myöhemmin. > hoidetaan Dockerissa 80 -> 50000

  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - "8080:8080" # pitäneekö tämäkin muuttaa muotoon 127.0.0.1:8080 joka olisi turvallisempi

  web:
    build: ./web
    restart: unless-stopped
    ports:
      - "127.0.0.1:8081:80"


volumes:
  db_data:
